.image {
  background-image: url(../assets/images/pexels-elle-hughes-1660030.jpg);
  height: 610px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-title {
  float: inline-start;
  text-align: start;
  margin-top: 2px;
  margin-left: 860px;
}
.is-large {
  height: 160px;
  width: 310px;
  margin: 0;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  text-align: center;
}
.to-top {
  color: black;
  padding-top: 28px;
  display: inline-block;
  position: relative;
  border-color: black;
  text-decoration: none;
  transition: all 0.3s ease-out;
  margin-top: 450px;
  margin-right: 50%;
  font-weight: bolder;
  font-size: xx-large;
}
.to-top:before {
  content: "▲";
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -12px;
  border: solid 2 black;
  border-radius: 160px;
  width: 22px;
  height: 22px;
  line-height: 21px;
  border-color: inherit;
  transition: transform 0.5s ease-in;
}
.to-top:hover {
  color: green;
  border-color: green;
}
.to-top:hover:before {
  transform: rotate(360deg);
}

.column {
  margin-top: -500px;
  margin-right: 200px;
}

.column-2 {
  border: black 2px solid;
  border-radius: 200px;
  transform: rotate(-5deg);
}

.columns {
  margin-top: 20px;
  margin-right: 50px;
}

.plan {
  visibility: hidden;
}

.show {
  visibility: visible;
}

#allCategories {
  display: inline-flex;
  height: 60px;
  width: 310px;
  color: white;
}

.allModals {
  margin-top: -270px;
  margin-right: 970px;
}

#picture {
  margin-left: -500px;
}

.hide {
  visibility: hidden;
}

#contact {
  text-align: center;
  margin: auto;
  font-size: 20px;
  transform: translateY(400px);
  width: 85%;
  padding: 30px;
  border: 0;
  border-radius: 70px;
  min-height: 200px;
}

.navbar img {
  height: 55px;
  width: 100px;
}
